.view {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.login-container {
    display: inline-block;
    background-color: #fcfdff;
    padding: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 2px rgb(0,0,0,0.02);
}

.login-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.label-username, .label-password {
    display: block;
    margin: 20px 0 5px 0;
}

.input-username, .input-password {
    color: #000000;
    display: block;
    line-height: 1.5;
    font-weight: 100;
    font-size: 16px;
    padding: 5px 7px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 250px;
}

.login-btn {
    margin: 20px 0 5px auto;
    font-size: 16px;
    background-color: #212529;
    color: #FCFDFF;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    display: block;
}

.error-msg {
    color: #dc3545;
    margin: 10px 0 5px 0;
}