.eventsList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.create-link {
    text-decoration: none;
    background-color: #212529;
    line-height: 1.5;
    font-size: 16px;
    padding: 5px 20px;
    margin-left: 40px;
    border-radius: 5px;
    color: #cacaca;
}
