.eventsList {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-evenly;
}

.searchbar {
    color: #000000;
    display: flex;
    line-height: 1.5;
    font-weight: 100;
    font-size: 16px;
    padding: 5px 7px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 250px;
    margin: 20px auto 0 auto;
}